.layui-btn-xs_hy {
    height: 28px;
    line-height: 18px;
    font-size: 17px;
    color: #ffffff;
    background-color: #0bbbee;
}
.layui-btn+.layui-btn {
    margin-left: 0px;
}
.weui-media-box__desc_hy {
    color: #484848;
    font-size: 17px;
    line-height: 1.5;
    -webkit-line-clamp: 1;
}
.weui-media-box__hd_hy{
    width: 82px!important;
    height: 82px!important;
}

.weui-cell__hd iconfont{
    font-size: 20px;
    line-height: 0;
}

.unit::before {
    content: " ";
    display: inline-block;
    height: 6px;
    width: 6px;
    border-width: 2px 2px 0 0;
    border-color: #c8c8cd;
    border-style: solid;
    -webkit-transform: matrix(.71, .71, -.71, .71, 0, 0);
    transform: matrix(.71, .71, -.71, .71, 0, 0);
    position: relative;
    top: -2px;
    position: absolute;
    top: 50%;
    right: 15px;
    margin-top: -3px;
}

.icon {
    width: 1em; height: 1em;
    vertical-align: -0.15em;
    fill: currentColor;
    overflow: hidden;
}